<?xml version="1.0"?>
<config>
    <modules>
        <Saftlab_Hotvape>
            <version>0.1.0</version>
        </Saftlab_Hotvape>
    </modules>
    <global>
        <models>
            <hotvape>
                <class>Saftlab_Hotvape_Model</class>
                <resourceModel>hotvape_mysql4</resourceModel>
            </hotvape>
            <hotvape_mysql4>
                <class>Saftlab_Hotvape_Model_Mysql4</class>
            </hotvape_mysql4>
        </models>
        <blocks>
            <hotvape>
                <class>Saftlab_Hotvape_Block</class>
            </hotvape>
        </blocks>
        <helpers>
            <hotvape>
                <class>Saftlab_Hotvape_Helper</class>
            </hotvape>  
        </helpers>
    </global>    
    <admin>
        <routers>
            <hotvape>
                <use>admin</use>
                <args>
                    <module>Saftlab_Hotvape</module>
                    <frontName>hotvape</frontName>
                </args>
            </hotvape>
        </routers>
    </admin>    
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <hotvape>Mage_Hotvape.csv</hotvape>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <hotvape_adminform translate="title" module="hotvape">
                        <title>Group Price Import</title>
                        <action>hotvape/adminhtml_groupprice</action>
                    </hotvape_adminform>
                </children>
            </system>
        </menu>        
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <hotvape_adminform>
                                    <title>Group Price Import</title>
                                </hotvape_adminform>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>        
        <layout>
            <updates>
                <hotvape>
                    <file>saftlab/hotvape.xml</file>
                </hotvape>
            </updates>
        </layout>
    </adminhtml>
</config>